/*
...
...
*/
body,
html {
  background: #efeff0;
}
body {
  width: 62em;
  max-width: 100%;
  min-width: 830px;
  margin: 0 auto;
  padding: 0;
  color: #333;
  font: 100%/1.6 'Roboto', Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
}
p,
h1,
h2,
h3,
h4,
pre {
  margin-top: 20px;
  margin-bottom: 20px;
}
#wrap {
  font-size: 1.1em;
  position: relative;
  margin: 16px;
  padding: 10px 0 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
#header {
  min-height: 50px;
  overflow: hidden;
  background: #000000;
  padding-left: 16px;
}
#content {
  clear: both;
  padding: 24px 16px;
}
#main {
  float: left;
  width: 66%;
}
#content-secondary {
  float: right;
  width: 33%;
}
#footer {
  clear: both;
}
#footer {
  padding: 6px 10px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #f7f7f8;
}
#footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#footer li {
  display: inline;
  margin: 0 1em 0 0;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}
.clearfix {
  display: inline-block;
}
.clearfix {
  display: block;
}
@media only screen {
  body {
    min-width: 0;
  }
}
@media only screen and (max-device-width: 480px), screen and (max-width: 843px) {
  #main,
  #content-secondary {
    float: none;
    width: auto;
  }
  #feed {
    text-align: left;
  }
  #content-secondary .ad,
  #bsa {
    float: left;
    width: 232px;
    min-height: 236px;
    margin-right: 10px;
  }
  #adsense-sidebar.ad {
    width: 250px;
    margin-right: 0;
  }
  #bsa {
    width: 260px;
    margin-right: 10px;
  }
  #hosting {
    margin-right: 0;
  }
  #main img {
    max-width: 100%;
  }
}
@media only screen and (max-device-width: 480px), screen and (max-width: 611px) {
  #main .ad {
    overflow: hidden;
    padding: 0;
    border: 0;
  }
  #content-secondary .ad,
  #bsa {
    float: none;
    min-height: 0;
    clear: both;
    margin-right: 0;
  }
}
@media only screen and (max-device-width: 480px), screen and (max-width: 480px) {
  #wrap {
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #search-form {
    clear: both;
    float: none;
    margin-right: 5px;
  }
  #search-form input.txt {
    width: 210px;
  }
  #nav {
    font-size: 0.8125em;
  }
  #nav a {
    padding: 0 6px;
  }
  #content {
    padding: 12px 8px;
  }
  #content-secondary .ad,
  #bsa {
    margin: 0 auto 10px;
  }
  #footer li {
    display: block;
    margin: 0;
  }
}
@media only screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}
#main h1 {
  margin: 0 0 .5em;
  color: #444;
}
#main p,
#main td,
#main li {
  font-size: 1em;
  color: black;
}
#main p code,
#main td code,
#main li code {
  padding: 0 3px;
  font-size: 110%;
}
#main table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
#main table td,
#main table th {
  border: 1px solid #999;
}
#main table th {
  background-color: #efeff0;
}
a {
  -moz-transition: color 0.1s linear, background-color 0.1s linear;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear;
}
#main a:link {
  color: #2a5db0;
}
#main a:visited {
  color: #2a5db0;
}
#main a:hover,
#main a:focus,
#main a:active {
  background-color: #efeff0;
  text-decoration: none;
}
#main a.imglink:hover,
#main a.imglink:focus,
#main a.imglink:active {
  outline: 0;
  background: transparent;
}
#main a.imglink:hover img,
#main a.imglink:focus img,
#main a.imglink:active img {
  border-color: #800000;
  background: #ffffff;
}
#header #logo-wrap {
  height: 50px;
  width: 200px;
  -moz-transition: color 0.1s linear, background-color 0.1s linear;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear;
}
#header #logo-wrap a:hover,
#header #logo-wrap a:focus,
#header #logo-wrap a:active {
  color: #2a5db0;
}
#header #logo-wrap:hover {
  background-color: #333333;
}
a#logo {
  height: 50px;
}
a#logo img {
  height: 30px;
}
#nav ul {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#nav ul li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 50px;
}
#nav ul li a {
  padding-top: calc(16px);
  display: block;
  float: left;
  padding-right: 12px;
  color: #fff;
  text-decoration: none;
}
#nav ul li a:hover {
  background-color: #333333;
  transition: background-color 0s linear;
}
#nav ul li a#logo {
  height: 50px;
  padding-top: calc(10px);
}
#nav ul li a#logo img {
  height: 30px;
}
#prev-next {
  margin-top: 30px;
}
#prev-next a:link {
  color: #2a5db0;
}
#prev-next a:visited {
  color: #2a5db0;
}
#prev-next a:hover,
#prev-next a:focus,
#prev-next a:active {
  color: #2a5db0;
}
#prev-next #prev {
  float: left;
}
#prev-next #next {
  float: right;
}
code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
pre.code {
  overflow: auto;
  padding: 0;
  border: 1px solid #efeff0;
  list-style: none;
  background: #efeff0;
  font-size: 1em;
  padding: 6px;
}
pre.code span {
  color: #c7254e;
  font-size: 105%;
  padding: 0 2px;
}
pre.code code {
  color: black;
  background-color: inherit;
  border-radius: 0px;
  padding: 0px;
}
#content-secondary ul {
  margin-top: 13px;
  margin-left: 10px;
  list-style-type: none;
  text-align: right;
  padding-left: 0px;
  font-size: 0.9em;
}
#content-secondary ul li {
  padding: 15px;
}
#content-secondary ul li:hover {
  background-color: #f7f7f8;
  border-right: 2px solid #000000;
}
#content-secondary ul li.active {
  background-color: #f7f7f8;
  border-right: 2px solid black;
}
#content-secondary ul a:link {
  color: #2a5db0;
  text-decoration: none;
}
#content-secondary ul a:visited {
  color: #2a5db0;
}
#content-secondary ul a:hover,
#content-secondary ul a:focus,
#content-secondary ul a:active {
  color: #2a5db0;
}
#menu-button {
  visibility: hidden;
  display: none;
}
@media (max-width: 480px) {
  #content {
    margin-top: 30px;
  }
  #content-secondary {
    visibility: hidden;
    display: none;
  }
  #header {
    position: fixed;
    top: -3px;
    width: 100%;
    padding: 0;
  }
  #header #menu-button {
    visibility: visible;
    display: block;
    margin-top: 12px;
    margin-right: 10px;
    width: 30px;
    height: 26px;
    background-color: #333333;
    border-radius: 4px;
    padding-top: 3px;
  }
  #header #menu-button span {
    display: block;
    width: 20px;
    height: 1px;
    background-color: #b3b3b3;
    border-radius: 1px;
    margin-left: 5px;
    margin-top: 5px;
  }
}
#menuOverlay {
  position: fixed;
  /*or  absolute*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(112, 112, 112, 0.9);
  z-index: 999;
  /* or  greater value */
  text-align: center;
}
#menuOverlay p {
  width: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#menuOverlay ul {
  margin-top: 2.5em;
  padding-left: 0px;
}
#menuOverlay ul li {
  list-style-type: none;
  margin: 21px 0;
}
#menuOverlay ul li a {
  padding: 5px;
  color: white;
  text-decoration: none;
}
#menuOverlay ul li a:hover {
  background-color: #707070;
}
