/*
...
...
*/
body,
html {
  background: #efeff0;
}
body {
  width: 62em;
  max-width: 100%;
  min-width: 830px;
  margin: 0 auto;
  padding: 0;
  color: #333;
  font: 100%/1.4 Arial, Helvetica, sans-serif;
}
h1 {
  margin: 0 0 .5em;
  color: #444;
}
ul {
  margin: 0;
}
#wrap {
  position: relative;
  margin: 16px;
  padding: 10px 0 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
#header {
  min-height: 50px;
  overflow: hidden;
  background: #000000;
  padding-left: 16px;
}
#content {
  clear: both;
  padding: 24px 16px;
}
#main {
  float: left;
  width: 66%;
}
#main table {
  border-collapse: collapse;
  border-spacing: 0;
}
#main table td,
#main table th {
  border: 1px solid #999;
}
#main table code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
#main li code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
#main p,
#main td,
#main li {
  font-size: 16px;
  color: #737373;
}
#main table {
  width: 100%;
}
#main table th {
  background-color: #efeff0;
}
#main #post-nav {
  margin-top: 30px;
}
#main #post-nav a:link {
  color: #2a5db0;
}
#main #post-nav a:visited {
  color: #2a5db0;
}
#main #post-nav a:hover,
#main #post-nav a:focus,
#main #post-nav a:active {
  color: #2a5db0;
}
#main #post-nav #prev {
  float: left;
}
#main #post-nav #next {
  float: right;
}
#content-secondary {
  float: right;
  width: 33%;
}
#footer {
  clear: both;
}
#footer {
  padding: 6px 10px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #f7f7f8;
}
#footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#footer li {
  display: inline;
  margin: 0 1em 0 0;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}
.clearfix {
  display: inline-block;
}
.clearfix {
  display: block;
}
@media only screen {
  body {
    min-width: 0;
  }
}
@media only screen and (max-device-width: 480px), screen and (max-width: 843px) {
  #main,
  #content-secondary {
    float: none;
    width: auto;
  }
  #feed {
    text-align: left;
  }
  #content-secondary .ad,
  #bsa {
    float: left;
    width: 232px;
    min-height: 236px;
    margin-right: 10px;
  }
  #adsense-sidebar.ad {
    width: 250px;
    margin-right: 0;
  }
  #bsa {
    width: 260px;
    margin-right: 10px;
  }
  #hosting {
    margin-right: 0;
  }
  #main img {
    max-width: 100%;
  }
}
@media only screen and (max-device-width: 480px), screen and (max-width: 611px) {
  #main .ad {
    overflow: hidden;
    padding: 0;
    border: 0;
  }
  #content-secondary .ad,
  #bsa {
    float: none;
    min-height: 0;
    clear: both;
    margin-right: 0;
  }
}
@media only screen and (max-device-width: 480px), screen and (max-width: 480px) {
  #wrap {
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #search-form {
    clear: both;
    float: none;
    margin-right: 5px;
  }
  #search-form input.txt {
    width: 210px;
  }
  #nav {
    font-size: 0.8125em;
  }
  #nav a {
    padding: 0 6px;
  }
  #content {
    padding: 12px 8px;
  }
  #content-secondary .ad,
  #bsa {
    margin: 0 auto 10px;
  }
  #footer li {
    display: block;
    margin: 0;
  }
}
@media only screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}
a {
  -moz-transition: color 0.1s linear, background-color 0.1s linear;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear;
  text-decoration: none;
}
#main a:link {
  color: #2a5db0;
}
#main a:visited {
  color: #8f1f08;
}
#main a:hover,
#main a:focus,
#main a:active {
  background-color: #efeff0;
}
#main a.imglink:hover,
#main a.imglink:focus,
#main a.imglink:active {
  outline: 0;
  background: transparent;
}
#main a.imglink:hover img,
#main a.imglink:focus img,
#main a.imglink:active img {
  border-color: #800000;
  background: #ffffff;
}
#header #logo-wrap {
  height: 50px;
  width: 200px;
  -moz-transition: color 0.1s linear, background-color 0.1s linear;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear;
}
#header #logo-wrap a:hover,
#header #logo-wrap a:focus,
#header #logo-wrap a:active {
  color: #2a5db0;
}
#header #logo-wrap:hover {
  background-color: #333333;
}
a#logo {
  height: 50px;
}
a#logo img {
  height: 30px;
}
#nav ul {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#nav li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 50px;
  position: relative;
}
#nav li a#logo {
  height: 50px;
  padding-top: calc(10px);
}
#nav li a#logo img {
  height: 30px;
}
#nav li a {
  padding-top: calc(16px);
  display: block;
  float: left;
  padding-right: 12px;
  color: #fff;
  text-decoration: none;
}
.code {
  overflow: auto;
  padding: 0;
  border: 1px solid #efeff0;
  list-style: none;
}
.code {
  background: #efeff0;
}
.code span {
  color: #c7254e;
  font-size: 105%;
  padding: 0 2px;
}
pre.code code {
  display: block;
  padding: 4px;
}
#content-secondary ul {
  margin-top: 13px;
  list-style-type: none;
  text-align: left;
}
#content-secondary ul li:hover {
  background-color: #f7f7f8;
}
#content-secondary ul li.active {
  background-color: #efeff0;
}
#content-secondary ul a:link {
  color: #2a5db0;
}
#content-secondary ul a:visited {
  color: #2a5db0;
}
#content-secondary ul a:hover,
#content-secondary ul a:focus,
#content-secondary ul a:active {
  color: #2a5db0;
}
