<div class="navmenu navmenu-inverse navmenu-fixed-left">
  <div class="nav-custom-top">
    <a class="navmenu-brand visible-md visible-lg visible-xs" id="side-logo-contain" href="/">
      <div id="logo"></div>
    </a>

    <ul class="nav nav-tabs">
      <li><a class="active" href="#">API Guide</a></li>
      <!-- not until this comes out -->
      <!-- <li id="ctg"><a href="#">Campaign Tools Guide</a></li> -->
    </ul>
  </div>
  <div class="nav-custom-bottom">
    <ul class="nav navmenu-nav" >

          <li class="nav-docs-list">
            <a  class="active" href="{{pag.url}}">{{pag.title}}</a>
          </li>
          <li class="nav-docs-list">
            <a  class="active" href="{{pag.url}}">more</a>
          </li>
          <li class="nav-docs-list">
            <a  class="active" href="{{pag.url}}">again</a>
          </li>

    </ul>
  </div>
 
</div>