

#content-secondary{
	
	ul{
		margin-top: 13px;
		list-style-type: none;
		text-align: left;
		padding-left: 0px;
		li:hover{
			background-color: mix(@master-bg, white);
		}
		li.active{
			background-color: @master-bg;
		}
		a:link {
			color: @a-link-text;
		}
		a:visited {
			color: @a-link-text;
		}
		a:hover,a:focus,a:active {
		    color: @a-hover-text;
		    //background-color: @master-bg;
		}
	}
}