

@import "css_base.less";
/*
...
...
*/

@logo-height: @header-min-height;
@logo-img-height: 30px;

a#logo {
	height: @logo-height;
	
	img{
		margin-top: calc((@logo-height - @logo-img-height) / 2);
		height: @logo-img-height;
	}
}
