@import 'base.less'; 

@background-color: #F4F4F4;

//styles specific for the frontend 
// ... 

/* centered content, max-width of all the main stuff */
.content {
  max-width: 960px;
  background-color: white;
  padding-top: 50px;
} 

/* background styles */
.bg {
  background-color: @background-color;
  min-height:100%;
  position:relative;
}
body {
  margin:0;
  padding:0;
  height:100%;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}  