<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script href="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="./public/assets/stylesheets/application.css">
		<link rel="stylesheet" type="text/css" href="./public/assets/stylesheets/backend.css">
		<script src="public/assets/javascript/frontend.js"></script>
		<script src="public/assets/javascript/backend.js"></script>


	</head>

	<body>
		
		<div class="container">
			<!-- .bg master background color -->
			{% include navbar.html %}

			<div class="row row-centered">
				<!-- .navbar nav bar area -->
				<div class="col-xs-12 col-centered main-wrapper">
					<div id="wrapper">
					    
					    <div id="content">
					        <div id="sidebar">Sidebar<br/>Sidebar<br/>Sidebar<br/></div>
					        <div id="main">
					            Main<br />
					            Main<br /> main as fuck nigga
					        </div>
					    </div>
					    <div class="push"></div>
					</div>
					<div id="footer"><div id="footer-content">Footer</div></div>
				</div>
			</div>
	    </div>

	</body>
</html>