<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script href="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="./public/assets/stylesheets/application.css">
		<link rel="stylesheet" type="text/css" href="./public/assets/stylesheets/backend.css">
		<script src="public/assets/javascript/frontend.js"></script>
		<script src="public/assets/javascript/backend.js"></script>


	</head>

	<body class="about">
		
		<div id="wrap">
			<div id="skip"></div>
			<div id="header">
				
					<a id="logo" href="/">
						<img src="public/assets/images/newlogo.png" alt="Lamp">
					</a>
			</div>
			<div id="nav"></div>
			<div id="content" class="clearfix">
				<div id="content-secondary">
					<ul>
						<li>
							<a>Getting Started</a>
						</li>
					</ul>
				</div>
				<div id="main">
					{{content}}
				</div>
				
			</div>
		</div>

	</body>
</html>